.background { background-image: url('https://img.freepik.com/free-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg?size=626&ext=jpg');
background-size: cover;
}

h1 { text-align: center; color: crimson;
;border-style: solid; border-color:crimson; padding: 2px;
margin: 15px; background-color:rgb(218, 216, 216);
border-radius: 50px;
}
h2 {text-align: left; color: crimson;border-bottom: 2px solid rgb(10, 10, 10); 

}

}
ul {color: blue;

}
h3 { color: crimson;


}
.change { color: crimson;

}
.sidebar { text-align: left; color: blue;

}
.img {border-style:solid; color: rgb(8, 8, 8);

}
h4 {text-align: left; color: crimson;

}
.column1 { text-align: center;
column-count: 2; margin-top: 0%; border-style: solid;
width: 700px; background-image: url(https://mthoodterritory.objects.liquidweb.services/photos/mt-hood-jonsrud-viewpoint-full-Header.png);
background-size: 920px; 

}

.lastheader { text-align: center; }

}


 

}